{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "base64_string": "", "string": ""}, "headers": {"Authorization": ["token <TOKEN>"]}, "method": "GET", "uri": "https://api.github.com/repos/skvaryk/filabel-testrepo3/pulls?state=open"}, "response": {"body": {"encoding": "utf-8", "base64_string": "W10=", "string": ""}, "headers": {"Content-Type": ["application/json; charset=utf-8"], "Status": ["200 OK"], "X-RateLimit-Limit": ["5000"], "X-RateLimit-Remaining": ["4790"], "X-RateLimit-Reset": ["1543794371"], "ETag": ["\"283f1c9cde13103fb5fc658ad6d33cb7\""], "X-OAuth-Scopes": ["admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion"], "X-Accepted-OAuth-Scopes": [""], "X-GitHub-Media-Type": ["github.v3; format=json"]}, "status": {"code": 200, "message": "OK"}, "url": "https://api.github.com/repos/skvaryk/filabel-testrepo3/pulls?state=open"}, "recorded_at": "2018-12-02T22:55:08"}], "recorded_with": "betamax/0.8.1"}